body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  border: 3px solid red;
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

#pad {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#display {
  width: 40%;
  border: 2px solid grey;
  margin: 10px;
}

.drum-pad {
  border: 2px solid grey;
  width: 20%;
  padding: 40px 20px;
  text-align: center;
}
